


.slack-bot {
    background-color: #584566;
}

.Proj-App-header {
    background-color: #584566;
    padding-left: 10.1% !important;
    padding: 45px;
    margin: 0;
}

.project-block {
    margin-top: -15%;
}

.Video {
    width: 50%;
    margin-left: 10%;
}

/* Phone dimensions */
@media (max-width: 450px) {
    .project-block {
        margin-top: -75%;
    }
  }
  
  
  
  