.App {
  text-align: center;
  background-color:  #ebe4df;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-family: 'Black Han Sans', sans-serif;
  min-height: 40vh;
  display: flex-start;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(2px + 2vmin);
  font-weight: 900;
  text-align: left;
  max-width: 60%;
  margin-left: 10%;
  margin-top: 10%;
}
#header {
  font-size: 40vw; /* Scalable font size */
}
.image-button {
  width: calc(10px + 2vmin); /* Adjust the width to make the button smaller */
  margin-top: -10px;
}

.button-container {
  margin-top: 1px; /* Adjust this to control space between header and buttons */
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
  gap: 15px; /* Adjust the gap between buttons as needed */
}


.image-button:hover {
  transform: scale(1.1);
}

.camera-button {
  margin-top: -11px;
  width: calc(15px + 2vmin) !important;
}

.email-button{
  margin-bottom: 2.1px;
  width: calc(8.3px + 2vmin)
}


body {
  font-family: Arial, sans-serif;
  background-color: #ebe4df;
  color: #333;
  margin: 0;
  padding: 0;
  margin-left: 8%;
}

.section-header {
  display: flex;
  font-size: calc(3px + 2vmin);
  font-weight: bold;
  text-align: left;
  max-width: 60%;
  margin-left: 2%;
}

.experience-item {
  display: flex;
  align-items: flex;
  text-align: left;
  max-width: 60%;
  margin-left: 8%;
}

.experience-item i {
  font-size: 1em;

}

.experience-item {
  margin: 0 0 10px 0;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  
}

.experience-item p {
  margin: 0;
}

.experience-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: width 1s ease, margin 1s ease;
}

.experience-item ul li {
  margin-bottom: 10px;
}

.FellowSpace  {
  padding-top: calc(20px + 2vmin)
}

.red-arrow {
  margin-top: -15px;
  width: calc(90px + 2vmin) !important;
  padding-left: calc(110px + 2vmin);

}
.about-block {
  margin-top: -10%;
}

.experience-block {
  margin-top: 5%
}
@media (max-width: 450px) {
  .experience-item {
    display: flex;
    align-items: flex;
    text-align: left;
    max-width: 100%;
    margin-left: -10%;
    margin-right: 5%; 
  } 

  .about-block {
    margin-top: -60%;
  }

  .section-header {
    margin-left: -5%; /* No margin on the left */
    margin-right: 0%; /* No margin on the right */
  }

  .red-arrow {
    margin-top: -2px;
    width: calc(60px + 2vmin) !important;
    padding-left: calc(90px + 2vmin);
  
  }
}

