.App {
  text-align: center;
  background-color:  #f8f8f8;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 40vh;
  display: flex-start;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(5px + 2vmin);
  font-weight: 900;
  text-align: left;
  padding-left: calc(30px + 2vmin);
}
#header {
  
  font-size: 40vw; /* Scalable font size */
}
.image-button {
  width: calc(10px + 2vmin); /* Adjust the width to make the button smaller */
  margin-top: -10px;
}

.button-container {
  margin-top: 1px; /* Adjust this to control space between header and buttons */
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
  gap: 15px; /* Adjust the gap between buttons as needed */
}


.image-button:hover {
  transform: scale(1.1);
}

.camera-button {
  margin-top: -8px;
  width: calc(15px + 2vmin) !important;
}

.email-button{
  margin-bottom: 2.1px;
  width: calc(8.3px + 2vmin)
}
