:root {
  --padding-start: 40px;
  --padding-end: 10px;
  --min-padding: 10px;
}

body {
  color: #373a44;
  font-family: Arial, sans-serif;
  background-color: #f7f1e3;
  margin: 0;
  padding: 0;
}

.button-container {
  filter: invert(19%) sepia(22%) saturate(376%) hue-rotate(189deg) brightness(95%) contrast(88%);
}

/* black-han-sans-latin-400-normal */
@font-face {
  font-family: 'Black Han Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/black-han-sans@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/black-han-sans@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.section-header {
  font-family: 'Black Han Sans', sans-serif;
  font-size: calc(1px + 1vmin); /* Adjust font size as needed */
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}

.experience-item {
  display: flex;
  align-items: flex-start;
  margin: 20px var(--padding-start);
  transition: margin 0.3s ease;
}

.experience-item i {
  font-size: 2em;
  margin-right: 20px;
}

.experience-item h2 {
  font-family: 'Serif', sans-serif;
  font-weight: 700; /* Ensure the weight matches the imported font */
  font-size: calc(4px + 1vmin);
}

.experience-item p, 
.experience-item li {
  font-family: "Serif", sans-serif;
  font-weight: 100;
  font-size: calc(3px + 1vmin);
}

