/* MyCarousel.css */

.slider-container {
    max-width: 90%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the carousel */
    margin-left: 10.2%;
}

.carousel-image {
    width: 90%;
    border-radius: 10 px; /* Optional: add rounded corners */
    filter: drop-shadow(1px 3px 3px #c9c8c6)
}