/* MyCarousel.css */

.slider-container {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the carousel */
    margin-left: 10.2%;
}

.carousel-image {
    width: 90%;
    border-radius: 10 px; /* Optional: add rounded corners */
}