




.Proj-App-header {

    padding-left: 10.1% !important;
    padding: 45px;
    margin: 0;
}

.project-block {
    margin-top: -15%;
}

.Video {
    width: 50%;
    margin-left: 10%;
}

.a {
    color: #FFF;
  }
  a:hover {
     color: rgb(6, 6, 6)
  }
/* Phone dimensions */
@media (max-width: 450px) {
    .project-block {
        margin-top: -60%;
        margin-right: 5%;
    }

  }
  
  
  
  